.Login-form-box{
    height: -moz-fit-content;
    height: fit-content;  
    background-color: #13414f;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
    position: absolute;
    top: 100%;
    left: 40%;

}


.Login-form-header-box{
    display: flex;
    margin-left: 20px;
    align-items: center;

}



.Login-form-body-box{
    /* justify-content: space-between; */
    width: fit-content;
    margin: 0 5px 15px 5px ;
    border: none;
    display: flex;
    background-color:#13414f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    
}