
.Project-set{ 
    height: fit-content;
    margin: 40px 20px 0 20px;
    padding: 0;
}

.ProjectItem-box{
    color: #1B2E3C;
    margin: 0px 20px 20px 0px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.ProjectItem-box:hover{
    color: #1B2E3C;
    scale: 101%;
    box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
    -webkit-box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
    -moz-box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
}

.ProjectItem-header{
    display: flex;
    justify-content: space-between;
    background-color: #1B2E3C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #E4E5E8;
}

.ProjectItem-header h3{
    padding: 0 10px 0 10px;
}


.ProjectItem-body{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E4E5E8;
    color: #0C0C1E;
}

.ProjectItem-body h3{
    padding: 0 10px 0 10px;
}

.Text-box{
    display: flex;
    justify-content: space-between;

}


.Button-stage-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.project-compatibility{
    color: #E4E5E8;
    font-size: 12px;
    padding: 2px;
    margin:5px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 5px;
}

.ProjectItem-header-box{
    display: flex
}


